.font-special {
    font-family: 'MuseoModerno', cursive;
}

body {
    min-height: 100vh;
}

.box-shadow {
    box-shadow: 12px 12px 12px rgba(0,0,0,0.1);
}

input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
}

.items > div i {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.items > div:hover i {
    color: #f00;
}

input:not(#tax)::-webkit-outer-spin-button,
input:not(#tax)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]:not(#tax) {
  -moz-appearance: textfield;
}